@import "./styles/app/layout.css";
@import "./styles/app/views.css";
@import "./styles/app/employee.css";
@import "./styles/app/customer.css";
@import "./styles/app/loading.css";
@import "./styles/app/responsive.css";
@import "./styles/app/animations.css";
@import "./styles/app/design-system.css";
