@import "./tailwind.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: Akrobat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  margin: 0 auto;
  padding: 1.25rem;
}
