@import "./tailwind.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Akrobat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 0;
}
