@import "./tailwind.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Akrobat, "Segoe UI Variable", "Segoe UI", "Trebuchet MS", sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}
